body{
    background-image: url(bg.webp);
    height: 45px;
    margin: 0;
    height: 900px;
}
header{
    padding: 20px;
    color: aliceblue;
    position: fixed;
    top: 0;
}
.logobox{
    
    display: inline-block;
    width: 1200px;
}
.navbox{
    
    width: 600px;
    position: absolute;
    right: 20px;
    display: inline-block;
    text-align: center;
    
}
.navbox>a{
    color: white;
    margin: 20px;
    text-decoration: none;
}

.navbox>a:hover{
    color: salmon;
}


#a{
    color: salmon;
}
#b{
    color: salmon;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 60px;
    left: 70px;
    width: 500px;
}

#c{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    font-size: 40px;
    position: relative;
    top: 20px;
    left: 70px;
    width: 500px;
}
#d{
    
    font-style: italic;
    font-size: 20px;
    color: white;
    position: relative;
    top: 5px;
    left: 70px;
    margin-top: 60px;
    width: 400px;
    word-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#e{
    
    width: 100px;
    padding: 15px;
    border: none;
    margin-top: 20px;
    background-color: salmon;
    color: dim rgb(91, 15, 15);
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    left: 70px;
    font-weight: 900px;
    cursor: pointer;
}
#e:hover{
    background-color: rgba(218, 176, 11, 0.804);
    color: aliceblue;
}
#f{
    color: aliceblue;
    width:200px;
    position: fixed;
    bottom: 0;
}


